################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GrocerItemsPurchasedAnalyzer/v16
/x64/Debug
/GrocerItemsPurchasedAnalyzer/x64/Debug
